:root {
  --font-primary: "Oswald", sans-serif;
  --font-secondary: "Arial", sans-serif;
  --color-basic-green: #68b738;
  --color-basic-green-2: #5eaa2f;
  --color-basic-black: #000;
  --color-basic-white: #fff;
  --color-active-white: #fff5;
  --color-basic-grey: #f2f2f2;
  --color-special-grey: #ebebeb;
  --color-special-grey-2: #cdcdcd;
  --color-special-grey-3: #666;
  --color-special-dark-grey: #444;
  --color-active-dark-grey: #4445;
  --color-special-dark-grey-2: #222;
  --color-status-error: #ff8282;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  margin: 0;
  color: var(--color-special-dark-grey);
  font-size: 16px;
  font-family: var(--font-secondary);
  line-height: 24px;
}

.link {
  text-decoration: none;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 38px;
  color: var(--color-special-dark-grey);
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--color-basic-grey);
}

.btn:hover {
  background-color: var(--color-special-grey);
}

.btn:active {
  color: var(--color-active-dark-grey);
}

.btn-primary {
  color: var(--color-basic-white);
  background-color: var(--color-basic-green);
}

.btn-primary:hover {
  background-color: var(--color-basic-green-2);
}

.btn-primary:active {
  color: var(--color-active-white);
}

.heading {
  margin: 0;
  padding: 0;
  color: var(--color-basic-black);
  font-weight: 400;
  font-family: var(--font-primary);
}

.heading-1 {
  font-size: 60px;
  line-height: 60px;
}

.heading-2 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.heading-3 {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.p-1 {
  padding: 1rem 1.35rem;
}

.p-2 {
  padding: 2rem 2.35rem;
}

.p-3 {
  padding: 3rem 3.35rem;
}

.main-header__logo {
  width: 202px;
  height: 59px;
  background-image: url("../public/logo-desktop.svg");
  background-repeat: no-repeat;
}

.main-menu {
}

.main-menu--theme--white .main-menu__item-link {
  color: var(--color-basic-white);
}

.main-menu--theme--black .main-menu__item-link {
  color: var(--color-basic-black);
}

.main-menu--theme--white .main-menu__item-link:hover,
.main-menu--theme--black .main-menu__item-link:hover {
  opacity: 0.6;
}

.main-menu--theme--white .main-menu__item-link:active,
.main-menu--theme--black .main-menu__item-link:active {
  opacity: 0.3;
}

.main-menu--theme--white .main-menu__list-item--active {
  border-bottom: 2px solid var(--color-basic-white);
}

.main-menu--theme--black .main-menu__list-item--active {
  border-bottom: 2px solid var(--color-basic-green);
}

.main-menu__list {
  display: flex;
  flex-flow: row wrap;
  gap: 33px;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu__list-item {
  padding-bottom: 8px;
  font-size: 20px;
}

.main-menu__item-link {
  text-transform: uppercase;
  text-decoration: none;
}

.programs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 80px;
}

.preview {
  display: grid;
  grid-template-areas:
    "preview-icon preview-heading"
    "preview-desc preview-desc"
    "preview-link preview-link";
  grid-template-rows: 100px auto auto;
  grid-template-columns: 100px 1fr;
  gap: 24px 60px;
  align-items: center;
  color: var(--color-basic-black);
  background-color: var(--color-basic-green-2);
}

.preview__icon-wrapper {
  position: relative;
  grid-area: preview-icon;
  width: 100%;
  height: 100%;
  background-color: var(--color-basic-green);
  border-radius: 1e7px;
}

.preview__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  transform: translateX(-50%) translateY(-50%);
}

.preview__heading {
  grid-area: preview-heading;
}

.preview__description {
  grid-area: preview-desc;
  margin: 14px 0 0 0;
}

.preview__link {
  grid-area: preview-link;
  color: currentColor;
  text-transform: uppercase;
}

.preview__link:active {
  opacity: 0.3;
}

.link__svg-arrow-line,
.link__svg-arrow-head {
  transition: all 0.5s ease;
  fill: currentColor;
}

.link:hover .link__svg-arrow-line {
  width: 80%;
}

.link:hover .link__svg-arrow-head {
  transform: translateX(25%);
}

.features__group {
  --feature-height: 20vw;
  --feature-icon-size: 80px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 80px;
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: feature;
}

.feature {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  gap: 20px 32px;
  height: var(--feature-height);
}

.feature__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--feature-icon-size);
  height: var(--feature-icon-size);
  background-color: var(--color-basic-green-2);
}

.feature::after {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  color: var(--color-basic-green-2);
  font-size: var(--feature-height);
  font-family: var(--font-primary);
  line-height: var(--feature-height);
  content: counter(feature);
  counter-increment: feature;
}

.main-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: var(--color-basic-grey);
}

.socials-list {
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials-list__item {
  height: 32px;
}

.socials-list__link {
  color: var(--color-special-grey-3);
}

.socials-list__icon {
  fill: currentColor;
  stroke: currentColor;
}

.socials-list__link:hover {
  color: var(--color-basic-green);
}

.socials-list__link:active {
  opacity: 0.6;
}

.copyright {
  display: flex;
  flex-flow: row nowrap;
  gap: 22px;
  align-items: center;
  justify-content: space-between;
}

.copyright__icon {
  fill: var(--color-special-grey-3);
}
