*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

/* clear range for custom styles */
input[type="range"] {
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
/* ----- */

:root {
  --font-primary: "Oswald", sans-serif;
  --font-secondary: "Arial", sans-serif;
  --color-basic-green: #68b738;
  --color-basic-green-2: #5eaa2f;
  --color-basic-black: #000;
  --color-basic-white: #fff;
  --color-active-white: #fff5;
  --color-basic-grey: #f2f2f2;
  --color-special-grey: #ebebeb;
  --color-special-grey-2: #cdcdcd;
  --color-special-grey-3: #666;
  --color-special-dark-grey: #444;
  --color-active-dark-grey: #4445;
  --color-special-dark-grey-2: #222;
  --color-status-error: #ff8282;
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-width: 320px;
  margin: 0;
  color: var(--color-special-dark-grey);
  font-size: 16px;
  font-family: var(--font-secondary);
  line-height: 1.5;
}

[class*="__container"] {
  width: 1230px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (max-width: 1300px) {
  [class*="__container"] {
    width: 738px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    /* width: 238px; */
    width: 320px;
  }
}

.link {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 20px 38px;
  color: var(--color-special-dark-grey);
  font-size: 20px;
  font-family: var(--font-primary);
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--color-basic-grey);
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .btn {
    width: 100%;
    padding: 7px 44px;
    font-size: 14px;
    line-height: 1.25;
    text-align: center;
  }
}

.btn-sm {
  padding: 10px 20px;
  font-size: 16px;
}

.btn:hover {
  background-color: var(--color-special-grey);
}

.btn:focus,
.btn:active {
  color: var(--color-active-dark-grey);
}

.btn-primary {
  color: var(--color-basic-white);
  background-color: var(--color-basic-green);
}

.btn-primary:hover {
  background-color: var(--color-basic-green-2);
}

.btn-primary:focus,
.btn-primary:active {
  color: var(--color-active-white);
}

.heading {
  color: var(--color-basic-black);
  font-weight: 400;
  font-family: var(--font-primary);
  line-height: 1;
}

.heading-1 {
  font-size: 60px;
}

.heading-2 {
  font-size: 36px;
  text-transform: uppercase;
}

.heading-3 {
  font-size: 20px;
  text-transform: uppercase;
}

@media (max-width: 767.98px) {
  .heading-1 {
    font-size: 36px;
  }

  .heading-2 {
    font-size: 24px;
  }

  .heading-3 {
    font-size: 14px;
  }
}

.p-1 {
  padding: 1rem 1.35rem;
}

.p-2 {
  padding: 2rem 2.35rem;
}

.p-3 {
  padding: 3rem 3.35rem;
}

/* =========== main-header =========== */
.main-header {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  width: 100%;
  height: 165px;
}

.main-header__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  height: 59px;
}

.main-header__logo {
  display: block;
  align-self: center;
  width: 202px;
  height: 59px;
  margin-right: auto;
}

.main-menu {
  --m-m-link-color: var(--color-basic-black);
  --m-m-decoration-color: var(--color-basic-green);
  display: block;
  font-family: var(--font-primary);
}

.main-menu--index-page {
  --m-m-link-color: var(--color-basic-white);
  --m-m-decoration-color: var(--color-basic-white);
}

.main-menu__list-item:hover {
  opacity: 0.6;
}

.main-menu__list-item:focus,
.main-menu__list-item:active {
  opacity: 0.3;
}

.main-menu__list-item--active,
.main-menu__list-item--active:hover,
.main-menu__list-item--active:focus,
.main-menu__list-item--active:active {
  border-bottom: 2px solid var(--m-m-decoration-color);
  cursor: default;
  opacity: 1;
}

.main-menu__list {
  display: flex;
  flex-flow: row wrap;
  gap: 33px;
  justify-content: flex-end;
}

.main-menu__list-item {
  padding-bottom: 8px;
  font-size: 20px;
}

.main-menu__item-link {
  color: var(--m-m-link-color);
  text-transform: uppercase;
  text-decoration: none;
}

.main-header__toggle-menu-btn {
  position: relative;
  display: none;
  align-self: center;
  width: 24px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;
}

.main-header__toggle-menu-btn--open::before,
.main-header__toggle-menu-btn--close::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  content: "";
}

.main-header__toggle-menu-btn--open::before {
  background-image: url("/public/icon_menu_open.svg");
}

.main-header__toggle-menu-btn--close::before {
  background-image: url("/public/icon_menu_close.svg");
}

@media (max-width: 1300px) {
  .main-header {
    height: 100px;
  }

  .main-menu {
    display: block;
  }

  .main-menu--index-page {
    --m-m-link-color: var(--color-basic-black);
    --m-m-decoration-color: var(--color-basic-green);
  }
}

@media (max-width: 767.98px) {
  .main-header {
    height: 66px;
    background-color: var(--color-basic-white);
  }

  .main-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--color-basic-white);
  }

  .main-menu--closed {
    display: none;
  }

  .main-menu--opend {
    display: block;
  }

  .main-menu__list {
    flex-flow: column nowrap;
    gap: 0;
    align-items: center;
    justify-content: center;
  }

  .main-menu__list-item {
    width: 100%;
    padding: 20px 15px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    border-bottom: 2px solid var(--color-basic-grey);
  }

  .main-menu__list-item:first-of-type {
    border-top: 2px solid var(--color-basic-grey);
  }

  .main-menu__list-item--active,
  .main-menu__list-item--active:hover,
  .main-menu__list-item--active:focus,
  .main-menu__list-item--active:active {
    border-bottom: 2px solid var(--m-m-decoration-color);
    cursor: default;
    opacity: 1;
  }

  .main-header__toggle-menu-btn {
    display: block;
  }
}

/* =========== hero section =========== */
.hero {
  position: relative;
  height: 696px;
  margin-bottom: 82px;
  padding-top: 165px;
}

.hero::before {
  position: absolute;
  top: 0;
  right: 50%;
  z-index: -2;
  width: 50%;
  height: 100%;
  background-color: var(--color-basic-green-2);
  background-image: url("../public/index-background-desktop.png");
  background-repeat: no-repeat;
  background-position: right top;
  transform: translate(100%, 0px);
  content: "";
}

.hero__container {
  position: relative;
}

.hero__slogans {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  align-items: flex-start;
  margin: 0 80px;
}

.hero__heading,
.hero__subheading {
  width: 420px;
}

.hero__heading {
  margin-top: 58px;
}

.hero__subheading {
  margin-top: 20px;
  margin-bottom: 12px;
}

.hero__bg-image {
  position: absolute;
  top: -5%;
  left: 455px;
  z-index: -1;
  /* width: 552px;
  height: 500px; */
}

@media (max-width: 1300px) {
  .hero {
    height: 950px;
    margin-bottom: 0;
    padding-top: 100px;
  }

  .hero::before {
    height: 0;
  }

  .hero__slogans {
    margin: 0 90px;
  }

  .hero__bg-image {
    position: absolute;
    top: 239px;
    left: 50%;
    z-index: -1;
    max-width: 100%;
    transform: translateX(-50%);
  }

  .hero__heading {
    margin-top: 40px;
  }
}

@media (max-width: 767.98px) {
  .hero {
    height: 546px;
    padding-top: 66px;
  }

  .hero::before {
    left: 0;
    width: 100%;
    height: 300px;
    margin-top: 66px;
    background-image: url("../public/index-background-mobile.png");
    background-position: bottom;
    transform: none;
  }

  .hero__slogans {
    gap: 0;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .hero__heading,
  .hero__subheading {
    width: 250px;
    color: var(--color-basic-white);
    text-align: center;
  }

  .hero__heading {
    margin-top: 30px;
    font-size: 36px;
  }

  .hero__subheading {
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 14px;
  }

  .hero__bg-image {
    position: inherit;
    z-index: 1;
    width: 100%;
    height: auto;
    transform: none;
  }
}

/* =========== programs =========== */
.programs {
  margin-bottom: 70px;
}

.programs__container {
  display: flex;
  flex-flow: row wrap;
  gap: 30px 80px;
}

.preview {
  display: grid;
  flex: 1 0 45%;
  grid-template-areas:
    "preview-icon preview-heading"
    "preview-desc preview-desc"
    "preview-link preview-link";
  grid-template-rows: 100px auto auto;
  grid-template-columns: 100px 1fr;
  gap: 24px 60px;
  align-items: center;
  padding: 3rem 3.35rem;
  color: var(--color-basic-black);
  background-color: var(--color-basic-green-2);
}

.preview__icon-wrapper {
  position: relative;
  grid-area: preview-icon;
  width: 100px;
  height: 100px;
  background-color: var(--color-basic-green);
  border-radius: 1e7px;
}

.preview__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  transform: translateX(-50%) translateY(-50%);
}

.preview__heading {
  grid-area: preview-heading;
}

.preview__description {
  grid-area: preview-desc;
  margin: 14px 0 0 0;
}

.preview__link-wrapper {
  grid-area: preview-link;
}

.preview__link {
  color: currentColor;
  text-transform: uppercase;
}

.preview__link:focus,
.preview__link:active {
  opacity: 0.3;
}

.link__svg-arrow-line,
.link__svg-arrow-head {
  transition: all 0.5s ease;
  fill: currentColor;
}

.link:hover .link__svg-arrow-line {
  width: 80%;
}

.link:hover .link__svg-arrow-head {
  transform: translateX(25%);
}

@media (max-width: 1300px) {
  .programs {
    margin-bottom: 45px;
  }

  .preview {
    flex: 1 0 45%;
    grid-template-areas:
      "preview-heading preview-icon"
      "preview-desc preview-icon"
      "preview-link preview-icon";
    grid-template-rows: 40px 1fr 40px;
    grid-template-columns: 1fr 250px;
    gap: 24px 60px;
    background-color: var(--color-basic-grey);
  }

  .preview__icon-wrapper {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 767.98px) {
  .programs {
    margin-bottom: 20px;
  }

  .programs__container {
    row-gap: 20px;
  }

  .preview {
    grid-template-areas:
      "preview-icon preview-heading"
      "preview-desc preview-desc"
      "preview-link preview-link";
    grid-template-rows: 50px auto auto;
    grid-template-columns: 50px 1fr;
    gap: 20px;
    padding: 23px 20px;
  }

  .preview__icon-wrapper {
    width: 50px;
    height: 50px;
  }

  .preview__heading {
    font-size: 24px;
    line-height: 1.5;
  }

  .preview__description {
    position: relative;
    padding-bottom: 20px;
  }

  .preview__description::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-special-grey-2);
    content: "";
  }
}

/* =========== features =========== */
.features {
  margin-bottom: 42px;
}

.features__group {
  --feature-height: 280px;
  --feature-height-sm: 60px;
  --feature-icon-size: 80px;
  --feature-icon-size-sm: 60px;
  display: flex;
  flex-flow: row wrap;
  gap: 40px 80px;
  counter-reset: feature;
}

@media (max-width: 1300px) {
  .features__group {
    gap: 40px 152px;
  }
}

@media (max-width: 767.98px) {
  .features__group {
    flex-flow: column nowrap;
    gap: 20px 0;
    margin-top: 38px;
  }
}

.feature {
  position: relative;
  display: flex;
  flex: 0 0 230px;
  flex-flow: column wrap;
  gap: 32px;
  justify-content: center;
  height: var(--feature-height);
}

.feature::after {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  color: var(--color-basic-green-2);
  font-size: var(--feature-height);
  font-family: var(--font-primary);
  line-height: 1;
  content: counter(feature);
  counter-increment: feature;
}

.feature__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--feature-icon-size);
  height: var(--feature-icon-size);
  background-color: var(--color-basic-green-2);
}

.feature__description {
  text-shadow: 1px 1px 2px var(--color-basic-white);
}

@media (max-width: 1300px) {
  .feature::after {
    color: var(--color-basic-grey);
  }
}

@media (max-width: 767.98px) {
  .feature {
    flex: 0 0 var(--feature-height-sm);
    flex-flow: row nowrap;
    gap: 20px;
    justify-content: flex-start;
    height: var(--feature-height-sm);
  }

  .feature::after {
    display: none;
  }

  .feature__icon {
    flex: 0 0 var(--feature-icon-size-sm);
    width: var(--feature-height-sm);
    height: var(--feature-height-sm);
  }

  .feature__description {
    font-size: 14px;
    line-height: 1.25;
  }
}

/* =========== before-after =========== */
.before-after {
  position: relative;
  min-height: 656px;
  padding-bottom: 75px;
}

.before-after::before {
  position: absolute;
  bottom: 0;
  z-index: -2;
  width: 100%;
  height: 462px;
  background-color: var(--color-basic-grey);
  content: "";
}

.before-after__container {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
}

.before-after__info,
.before-after__diff {
  flex: 0 0 50%;
}

.before-after__info {
  display: grid;
  grid-template-areas:
    "ba-heading"
    "ba-description"
    "ba-fgroups"
    "ba-cost";
  grid-template-rows: 1fr 1fr auto 75px;
  align-items: center;
  height: 520px;
}

.before-after__info-heading {
  grid-area: ba-heading;
}

.before-after__info-description {
  grid-area: ba-description;
}

.before-after__diff {
  display: flex;
  flex-flow: column nowrap;
  height: 540px;
}

.before-after__fieldset-group {
  display: flex;
  flex-flow: row wrap;

  grid-area: ba-fgroups;

  gap: 20px 42px;
  align-items: flex-start;
}

.before-after__fieldset {
  width: 162px;
}

.fieldset {
  --fieldset-border-color: var(--color-special-grey-2);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--fieldset-border-color);
  border-bottom: none;
  border-radius: 3px;
}

.fieldset__content {
  padding-top: 15px;
  padding-bottom: 20px;
  color: var(--color-basic-black);
  font-size: 30px;
  font-family: var(--font-primary);
  line-height: 1;
  text-transform: uppercase;
}

.fieldset__legend {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 8px;
  width: 100%;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  text-align: center;
  transform: translateY(calc(50% - 1px));
}

.fieldset__legend::before,
.fieldset__legend::after {
  align-self: center;
  border-bottom: 1px solid var(--fieldset-border-color);
  content: "";
}

@media (max-width: 767.98px) {
  .fieldset__content {
    font-size: 24px;
  }

  .fieldset__legend {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    font-size: 12px;
  }
}

.before-after__cost-field {
  grid-area: ba-cost;
  align-self: flex-end;
}

.before-after__diff-images-wrapper {
  position: relative;
  display: flex;
  flex: 1 0 50%;
  align-items: center;
  justify-content: flex-end;
}

.before-after__img-before,
.before-after__img-after {
  position: absolute;
  height: auto;
  max-inline-size: 100%;
}

.before-after__img-before {
  object-fit: cover;
  clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0%);
}

.before-after__img-after {
  object-fit: cover;
  clip-path: polygon(50% 0%, 50% 100%, 100% 100%, 100% 0%);
}

.before-after__diff-input-controls {
  display: flex;
  flex: 0 0 40px;
  gap: 20px;
  align-items: center;
}

.before-after__diff-label {
  text-decoration: underline dotted rgba(0, 0, 0, 24%);
  background-color: transparent;
  text-underline-offset: 5px;
}

.before-after__diff-label:hover {
  text-decoration: underline solid rgba(0, 0, 0, 40%);
}

.before-after__diff-label:focus,
.before-after__diff-label:active {
  text-decoration: none;
}

.before-after__diff-input-wrapper {
  flex: 1 0 auto;
}

.before-after__diff-input::-webkit-slider-thumb {
  width: 34px;
  height: 34px;
  background-color: var(--color-basic-green);
  border: 1px solid var(--color-special-grey-2);
  border-radius: 1e7px;
  box-shadow: inset 0 0 0 11px #fff;
  transform: translateY(-14px);
  cursor: pointer;
}

.before-after__diff-input::-moz-range-thumb {
  width: 34px;
  height: 34px;
  background-color: var(--color-basic-green);
  border: 1px solid var(--color-special-grey-2);
  border-radius: 1e7px;
  box-shadow: inset 0 0 0 11px #fff;
  cursor: pointer;
}

.before-after__diff-input:hover::-webkit-slider-thumb {
  box-shadow: inset 0 0 0 11px #fff, 0px 2px 4px rgba(0, 0, 0, 0.19);
}

.before-after__diff-input:focus::-webkit-slider-thumb,
.before-after__diff-input:active::-webkit-slider-thumb {
  border-color: var(--color-basic-green);
  box-shadow: inset 0 0 0 11px #fff, 0px 2px 4px rgba(0, 0, 0, 0.19);
}

.before-after__diff-input:focus-visible::-webkit-slider-thumb {
  outline: var(--color-basic-black) auto 1px;
}

.before-after__diff-input::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  background: var(--color-special-grey-2);
  border-radius: 6px;
  cursor: pointer;
}

.before-after__diff-input:focus::-webkit-slider-runnable-track {
  border: 1px solid var(--color-special-dark-grey);
}

.before-after__diff-input::-moz-range-track {
  width: 100%;
  height: 6px;
  background: var(--color-special-grey-2);
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .before-after__info,
  .before-after__diff {
    flex: 0 0 100%;
  }

  .before-after__info {
    grid-template-areas:
      "ba-heading ba-heading"
      "ba-description ba-description"
      "ba-fgroups ba-cost";
    grid-template-rows: 1fr 1fr auto;
    grid-template-columns: 1fr 1fr;
    height: 326px;
  }

  .before-after__diff {
    height: 620px;
  }
}

@media (max-width: 767.98px) {
  .before-after__fieldset {
    width: 124px;
  }

  .before-after__info {
    grid-template-areas:
      "ba-heading"
      "ba-description"
      "ba-fgroups"
      "ba-cost";
    grid-template-rows: 1fr 1fr auto auto;
    grid-template-columns: 1fr;
    gap: 20px;
    height: 316px;
  }

  .before-after__info-description {
    font-size: 14px;
  }

  .before-after__diff {
    height: 300px;
  }

  .before-after::before {
    height: 100%;
  }
}
/* =========== contacts =========== */
.contacts {
  position: relative;
  height: 400px;
}

.contacts__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.contacts__card {
  z-index: 2;
  display: flex;
  flex: 0 1 570px;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 200px;
  padding: 60px 70px 50px;
  background-color: var(--color-basic-white);
}

.contacts__heading {
  flex: 0 0 165px;
  align-self: center;
  color: var(--color-basic-black);
  line-height: 1.1;
}

.contacts__address {
  display: flex;
  flex: 0 0 165px;
  flex-flow: column nowrap;
  gap: 5px 20px;
  justify-content: space-between;
  font-style: normal;
  line-height: 1.25;
}

.contacts__map-yandex {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
}

.contacts__map-yandex-stub {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Позиция необходима для соблюдения лицензии: */
  /* лого яндекса должно быть видно на странице */
  object-position: right bottom;
}

@media (max-width: 1300px) {
  .contacts {
    height: 600px;
  }

  .contacts__container {
    display: flex;
    flex-flow: column nowrap;
    height: 200px;
  }

  .contacts__map-yandex {
    margin-top: 200px;
  }

  .contacts,
  .contacts__card {
    background-color: var(--color-basic-grey);
  }

  .contacts--index-page,
  .contacts__card--index-page {
    background-color: var(--color-basic-white);
  }
}

@media (max-width: 767.98px) {
  .contacts {
    height: 476px;
  }

  .contacts__container {
    display: flex;
    flex-flow: column nowrap;
    height: 114px;
  }

  .contacts__map-yandex {
    height: 362px;
    margin-top: 114px;
  }

  .contacts__card {
    height: 100%;
    padding: 28px 0px;
  }

  .contacts__address {
    justify-content: center;
  }

  .contacts__heading,
  .contacts__address {
    flex: 0 0 50%;
  }

  .contacts__heading {
    font-size: 16px;
  }

  .contacts__address {
    font-size: 14px;
  }
}

/* =========== main-footer =========== */
.main-footer {
  display: flex;
  flex: 1 0 150px;
  align-items: center;
  background-color: var(--color-basic-grey);
}

.main-footer__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.socials-list {
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

.socials-list__item {
  height: 32px;
}

.socials-list__link {
  color: var(--color-special-grey-3);
}

.socials-list__icon {
  fill: currentColor;
  stroke: currentColor;
}

.socials-list__link:hover {
  color: var(--color-basic-green);
}

.socials-list__link:focus,
.socials-list__link:active {
  opacity: 0.6;
}

.copyright {
  display: flex;
  flex-flow: row nowrap;
  gap: 22px;
  align-items: center;
  justify-content: space-between;
  color: var(--color-special-grey-3);
}

.copyright__icon {
  fill: var(--color-special-grey-3);
}

.copyright:hover .copyright__icon {
  fill: var(--color-basic-green-2);
}

.copyright:focus,
.copyright:active {
  opacity: 0.3;
}

@media (max-width: 767.98px) {
  .main-footer {
    flex: 1 0 236px;
  }

  .main-footer__container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .main-footer__logo {
    align-self: center;
    width: 128px;
    height: 24px;
  }

  .socials-list {
    position: relative;
    gap: 32px;
    justify-content: center;
    width: 100%;
  }

  .socials-list::before,
  .socials-list::after {
    position: absolute;
    width: 100%;
    border-top: 1px solid var(--color-special-grey-2);
    content: "";
  }

  .socials-list::before {
    top: -20px;
  }

  .socials-list::after {
    bottom: -20px;
  }

  .socials-list__item {
    height: 24px;
  }

  .socials-list__icon {
    width: 24px;
    height: 24px;
  }
}

/* =========== products section =========== */
.products {
  margin-bottom: 76px;
}

.products__heading {
  margin-top: 75px;
  margin-bottom: 85px;
}

.products__catalog {
  display: grid;
  grid-template-rows: 512px;
  grid-template-columns: repeat(4, 1fr);
  gap: 62px 80px;
}

.product-card {
  position: relative;
  display: grid;
  grid-template-areas:
    "pr-thumbnail"
    "pr-title"
    "pr-info"
    "pr-btn";
  grid-template-rows: 200px 46px auto 40px;
  grid-template-columns: 1fr;
  gap: 20px 0;
  justify-content: center;
  padding: 37px;
  padding-top: 0;
}

.product-card:before {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 85%;
  background-color: var(--color-basic-grey);
  content: "";
}

.product-card.product-card--show-more:before {
  background-color: transparent;
  border: 2px solid var(--color-basic-grey);
}

.product-card__thumbnail {
  grid-area: pr-thumbnail;
  margin-bottom: 20px;
}

.product-card--show-more .product-card__thumbnail {
  background-image: url("/public/icon_plus.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 60px 60px;
}

.product-card__title {
  grid-area: pr-title;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.product-card__info {
  grid-area: pr-info;
  margin-bottom: 10px;
  border-collapse: collapse;
}

.product-card--show-more .product-card__info {
  justify-self: start;
  line-height: 1.25;
  text-align: center;
}

.info__table-row td {
  padding: 5px 0 10px;
  line-height: 1;
  border-bottom: 1px dotted var(--color-special-grey-2);
}

.info__table-row td:last-child {
  text-align: right;
}

.product-card__btn {
  grid-area: pr-btn;
}

@media (max-width: 1300px) {
  .products {
    margin-bottom: 70px;
  }

  .products__heading {
    margin-top: 65px;
    margin-bottom: 85px;
  }

  .products__catalog {
    grid-template-rows: 512px;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
}

@media (max-width: 767.98px) {
  .products {
    margin-bottom: 28px;
  }

  .products__heading {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .products__catalog {
    grid-template-rows: 190px;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .product-card {
    grid-template-areas:
      "pr-thumbnail pr-title"
      "pr-thumbnail pr-info"
      "pr-btn pr-btn";
    grid-template-rows: 46px auto 40px;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    justify-content: center;
    padding: 12px;
    padding-top: 0;
  }

  .product-card:before {
    height: 1px;
  }

  .product-card:first-of-type::after {
    position: absolute;
    top: -20px;
    z-index: -1;
    width: 100%;
    height: 1px;
    background-color: var(--color-basic-grey);
    content: "";
  }

  .product-card__title {
    width: 50%;
    margin: 0;
    font-size: 16;
    line-height: 1.25;
    text-align: start;
  }

  .product-card__info {
    font-size: 12px;
    line-height: 1.25;
  }

  .info__table-row td {
    padding: 2px 0 2px;
    line-height: 1;
    border-bottom: none;
  }

  .product-card--show-more {
    grid-template-areas:
      "pr-thumbnail"
      "pr-title"
      "pr-info"
      "pr-btn";
    grid-template-rows: 50px auto auto 40px;
    grid-template-columns: 1fr;
    gap: 8px;
  }

  .product-card.product-card--show-more::before {
    border: none;
  }

  .product-card--show-more .product-card__title {
    width: 80%;
  }

  .product-card--show-more .product-card__title,
  .product-card--show-more .product-card__info {
    margin: 0 auto;
    text-align: center;
  }

  .product-card--show-more .product-card__thumbnail {
    background-size: 30px 30px;
  }
}

/* =========== additional-products section =========== */
.additional-products {
  position: relative;
  margin-bottom: 80px;
  overflow-x: hidden;
}

.heading--between-lines {
  --ap-heading-padding: 40px;
  width: fit-content;
  margin-bottom: 80px;
  padding: 0 var(--ap-heading-padding);
  background-color: var(--color-basic-white);
  transform: translateX(calc(var(--ap-heading-padding) * -1));
}

.heading--between-lines::before,
.heading--between-lines::after {
  position: absolute;
  top: 20px;
  z-index: -1;
  width: 100vw;
  height: 2px;
  background-color: var(--color-basic-green);
  content: "";
}

.heading--between-lines::before {
  right: 100%;
}

.heading--between-lines::after {
  left: 100%;
}

.additional-products__wrapper {
  display: grid;
  grid-template-columns: 1fr 245px;
  gap: 70px 80px;
  align-items: center;
}

.additional-products__table {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.additional-product {
  display: grid;
  grid-template-areas: "ap-name ap-amount ap-price ap-btn";
  grid-template-columns: 5fr 3fr 1fr 245px;
  gap: 20px 40px;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid var(--color-special-grey-2);
}

.additional-product:first-of-type {
  border-top: 1px solid var(--color-special-grey-2);
}

.additional-product__name {
  grid-area: ap-name;
}

.additional-product__amount {
  grid-area: ap-amount;
  color: var(--color-special-dark-grey);
}

.additional-product__price {
  grid-area: ap-price;
  justify-self: flex-end;
  color: var(--color-special-dark-grey);
}

.additional-product__btn {
  grid-area: ap-btn;
}

.additional-products__special-offer {
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 289px;
  color: var(--color-basic-white);
  background-color: var(--color-basic-green);
  background-image: url("../public/gift-photo-desktop@2x.jpg");
  background-size: cover;
}

.special-offer__description {
  padding: 0 42px;
  line-height: 1.25;
  text-align: center;
}

@media (max-width: 1300px) {
  .additional-products__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 70px;
  }

  .additional-product {
    grid-template-areas:
      "ap-name ap-amount ap-price"
      "ap-btn ap-btn ap-btn";
    grid-template-columns: 7fr auto 1fr;
    padding: 25px 35px;
    border-right: 1px solid var(--color-special-grey-2);
    border-left: 1px solid var(--color-special-grey-2);
  }

  .additional-products__special-offer {
    display: flex;
    flex-flow: row nowrap;
    gap: 40px;
    align-items: center;
    justify-content: space-around;
    min-height: 200px;
    background-image: url("../public/gift-photo-tablet@1x.jpg");
    background-position: center 60%;
  }

  .special-offer__description {
    width: 162px;
    padding: 0;
    text-align: start;
  }
}

@media (max-width: 767.98px) {
  .additional-products {
    margin-bottom: 35px;
  }

  .heading--between-lines {
    --ap-heading-padding: 20px;
    display: inline-flex;
    width: calc(100% + var(--ap-heading-padding) / 2);
    margin-bottom: 35px;
  }

  .heading--between-lines::before,
  .heading--between-lines::after {
    top: 14px;
  }

  .additional-products__wrapper {
    gap: 40px;
  }

  .additional-product {
    grid-template-areas:
      "ap-name ."
      "ap-amount ap-price"
      "ap-btn ap-btn";
    grid-template-columns: 1fr 1fr;
    gap: 12px 0;
    padding: 12px 0;
    border-right: none;
    border-left: none;
  }

  .additional-product__amount,
  .additional-product__price {
    font-size: 14px;
    line-height: 1;
  }

  .additional-products__special-offer {
    display: flex;
    flex-flow: column nowrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
    min-height: 289px;
    background-image: url("../public/gift-photo-mobile@1x.jpg");
    background-position: center;
  }

  .special-offer__description {
    text-align: center;
  }
}

/* =========== form-nutrition =========== */
.form-nutrition {
  overflow-x: hidden;
}

.form-nutrition__header {
  margin-bottom: 66px;
}

.form-nutrition__heading {
  margin-bottom: 56px;
}

.form-nutrition__description {
  max-width: 350px;
}

.form-nutrition__fieldset {
  position: relative;
  margin-bottom: 70px;
}

.input-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.input-label,
.input,
.textarea {
  color: var(--color-special-dark-grey);
  font-size: 20px;
  font-family: var(--font-primary);
  text-transform: uppercase;
}

.input,
.textarea {
  padding: 8px 20px;
  border: 1px solid var(--color-special-grey);
}

.input {
  flex: 1 0 50%;
}

.textarea {
  width: 100%;
  min-height: 174px;
  resize: none;
}

.input:hover,
.textarea:hover {
  border-color: var(--color-special-grey-2);
}

.input:active,
.textarea:active {
  border-color: var(--color-special-dark-grey);
}

.input:invalid,
.textarea:invalid {
  border-color: var(--color-status-error);
}

.input-label-checkbox {
  position: relative;
  display: flex;
  gap: 12px;
  align-items: center;
  min-width: 221px;
  height: 40px;
  cursor: pointer;
}

.input[type="checkbox"] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.input-label-checkbox__checkmark {
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-special-grey);
}

.input[type="checkbox"]:checked ~ .input-label-checkbox__checkmark {
  background-image: url("../public/icon_check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.input[type="checkbox"]:hover ~ .input-label-checkbox__checkmark {
  border-color: var(--color-special-grey-2);
}

.input[type="checkbox"]:focus ~ .input-label-checkbox__checkmark,
.input[type="checkbox"]:focus ~ .input-label-checkbox__desc {
  color: var(--color-basic-black);
  border-color: var(--color-basic-black);
}

.fieldset__group {
  display: flex;
  gap: 12px 80px;
  width: 100%;
}

.fieldset__group--cols {
  flex-direction: column;
}

.fieldset__group--with-border {
  padding: 25px 30px;
  border: 1px solid var(--color-basic-grey);
}

.fieldset__group--checkbox {
  margin-bottom: 70px;
  column-gap: 104px;
}

.form-nutrition__submit-btn {
  flex: 0 0 50%;
  height: 52px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.form-nutrition__required-helper {
  align-self: center;
}

/* =========== main element =========== */
/* находится внизу чтобы перезаписывать внутренние отступы */
.main {
  flex: 1 0 100%;
}

.main__top-element {
  padding-top: 165px;
}

@media (max-width: 1300px) {
  .main__top-element {
    padding-top: 100px;
  }
}

@media (max-width: 767.98px) {
  .main__top-element {
    padding-top: 66px;
  }
}
